@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap);

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  font-family: Montserrat;
  transition: background 500ms ease-in-out;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

/* li.dropdown {
  display: inline-block;
} */

a {
  color: currentColor;
  text-decoration: none;
}

h1 {
  display: block;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 0vh;
}

h2 {
  color: #4e3f22;
}

.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}

/* Building the dropdown selector */
.dropdown-content {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  background-color: none;
  z-index: 1;

  opacity: 0;
  transition: opacity 1000ms ease;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Theme selector */
a.dropbtn::before {
  content: ' ';
  background: var(--bg);
  background-image: linear-gradient(to right, #2ecc71, #3498db, #9b59b6, #f39c12);
  background-size: 500%;
  animation: color-rotate 5s linear infinite;
  border: 3px solid var(--border);
  border-radius: 50%;
  box-shadow: 0 0 5px var(--subtle);
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
}

/* Theme choices */
.dropdown-content a::before {
  content: ' ';
  border: 2px solid white;
  border: 3px solid var(--border);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

#major {
  margin-top: 0vh;
  margin-bottom: 0vh;
}

#title {
  margin-top: 0px;
  margin-bottom: 0px;
}

#about {
  overflow: hidden;
  max-width: 60ch;
  text-align: center;
}

/* Making color themes */
:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow1: #efbb35;
  --def: #fac65f;
}

.default {
  --bg: var(--def);
  --border: var(--gray5);
}

.dark {
  --bg: var(--gray5);
  --border: var(--def);
  --text: var(--gray1);
}

.light {
  --bg: var(--gray1);
  --border: var(--gray5);
}

#light::before {
  background: var(--gray1);
}
#dark::before {
  background: var(--gray5);
}
#default::before {
  background: var(--def);
}

/* Adding name color animation */
.title {
  color: transparent;
  background-image: linear-gradient(to right, #2ecc71, #3498db, #9b59b6, #f39c12);
  -webkit-background-clip: text;
  background-size: 500%;
  animation: color-rotate 5s linear infinite;
}

@keyframes color-rotate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

/* Small Screens */
@media screen and (max-width: 600px) {
  .dropbtn {
    padding: 12px 0;
  }
  .dropdown-content {
    flex-direction: row;
  }
  .dropdown-content a {
    padding: 12px 0px;
  }
}
