.resume {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}

iframe {
  height: 100vh;
  width: 60%;
}

/* Small Screens */
@media screen and (max-width: 650px) {
  iframe {
    width: 100%;
  }
}
